*{
    padding: 0;
    margin: 0;
    
}
header{
    margin: 3rem;
   
}

nav,a{
     padding: 10px;
    display: grid;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
     color: black;
}
body{
    background-color: rgb(170, 203, 241);
}

.logo{
    width: 70px;
    height: auto;
}
   
img{
    size: 400px;
}

.name{
    text-align: center;
    font-size: xx-large;
}

.div1{
    text-align: center;
    margin: 5em;
    padding: 2rem;
    
}


.filmInfo {
    text-align: center;
    margin: 5em;
    padding: 2rem;

}


.SajtTips{
    position: absolute;
    
   width: 100%;
   height: 40%;
   text-align: center;
   background-color: rgb(113, 113, 241);
  

}
.links{
    font-size: x-large;
    font-weight: bold;
}

.bilderna{
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
   
  
}



footer{
    background-color: lightgray;
    border: black solid 2px;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    padding: 0.5em
   
   
}


 